# SESAR db to JSON dump

In [1]:
import psycopg2
import requests
import json

In [2]:
def get_connection():
    try:
        return psycopg2.connect(
            database="sesardb20240525",
            user="postgres",
            password="smrpostgis",
            host="127.0.0.1",
            port=5432,
        )
    except:
        return False

In [3]:
def executeQuery(conn, querystring):
# CREATE A CURSOR USING THE CONNECTION OBJECT
    curr = conn.cursor()
    # EXECUTE THE SQL QUERY
    curr.execute(querystring)
    # FETCH ALL THE ROWS FROM THE CURSOR
    data = curr.fetchall()
    return data

In [4]:
def getFields(tableName):
#  get field names for table
    fieldsquery="SELECT column_name,ordinal_position "\
     "FROM information_schema.columns " + \
     "WHERE table_schema = 'public' AND table_name = '" + \
        tableName + "' ORDER BY ordinal_position"
    print(fieldsquery)
    fields = executeQuery(conn, fieldsquery)

    fieldlist=[]
    for row in fields:
        fieldlist.append(row[0])
    return fieldlist

In [5]:
def getTableData(tableName, tablePK):
    fl=getFields(tableName)
    #print(tableName, " fields ", fl)
    selectRecordQuery = "SELECT * FROM public." + tableName 
    #print("record query: ", selectRecordQuery)

    data = executeQuery(conn, selectRecordQuery)
    # do something with THE RECORDS 
    print (tableName, " number of records: ", len(data))

    theDict={}
    rows=[]
    rowNum = 0
    for row in data:
        theobj={}
        arecord={}
        for nc in range(len(row)):
            if row[nc] is None:
                # don't put null values in JSON
                continue
            theobj[fl[nc]]=row[nc]
        if tablePK=='noPK':
            arecord['id'+str(rowNum)]=theobj
        else:
            arecord[theobj[tablePK]]=theobj
        #print(arecord)
        rows.append(arecord)
        rowNum = rowNum+1
    
    #print(rows)
    theDict[tableName] = rows
    return theDict

In [6]:
def getPrimaryKey(tableName):
    pkquery = "SELECT c.column_name " + \
        " FROM information_schema.key_column_usage AS c " + \
        " LEFT JOIN information_schema.table_constraints AS t " + \
        " ON t.constraint_name = c.constraint_name " + \
        " WHERE t.table_name = '" + tableName + "' AND t.constraint_type = 'PRIMARY KEY'; " 
    #print(pkquery)
    key = executeQuery(conn, pkquery)
    print("the primary key: ", key)
    if len(key) == 0:
        return "noPK"
    else:
        return key[0][0]

In [7]:
# database connection is global variable.
conn = get_connection()
if conn:
    print("Connection to the PostgreSQL established successfully.")
else:
    print("Connection to the PostgreSQL encountered and error.")

Connection to the PostgreSQL established successfully.

# set up to process a table

data = executeQuery(conn, selClassification)
    # do something with THE RECORDS 
print (len(data))

theDict={}
rows=[]
for row in data:
    theobj={}
    arecord={}
    for nc in range(len(row)):
        theobj[fl[nc]]=row[nc]
    arecord[theobj[tablePK]]=theobj
    #print(arecord)
    rows.append(arecord)

#print(rows)
theDict[tableName] = rows
#print(theDict)

In [8]:
# list of tables in database SELECT * FROM information_schema.tables WHERE table_schema = 'public' and table_type = 'BASE TABLE'
#  get field names for table
tablesquery="SELECT table_name " + \
 "FROM information_schema.tables " + \
 "WHERE table_schema = 'public' AND table_type = 'BASE TABLE'" 
print(tablesquery)
tables = executeQuery(conn, tablesquery)

tablelist=[]
for row in tables:
    tablelist.append(row[0])
print(tablelist)

SELECT table_name FROM information_schema.tables WHERE table_schema = 'public' AND table_type = 'BASE TABLE'
['annual_stats', 'archive_lkup', 'archive_mapping', 'classification', 'download_history', 'cruise_field_prgrm_lkup', 'collection_method_lkup', 'collector_lkup', 'gfz_registered_namespace', 'country_id_map', 'gfz_igsns_need_fix', 'groups', 'ecl_orcid_temp', 'country', 'batch_history', 'launch_type', 'peng_org', 'sesar_user', 'platform_name_lkup', 'nav_type', 'platform_type_lkup', 'primary_location_name_lkup', 'primary_location_type_lkup', 'registrar_lkup', 'sample_publication_url', 'sample_delete_request', 'sample_external_identifier', 'sample_type', 'sample_registration_stats', 'sample_upload_history', 'sesar_role', 'sesar_user_code', 'sample_additional_name', 'sample_doc', 'temp_backfill_publish_date', 'temp_pp', 'v_sql_statement', 'group_sample', 'sesar_user_code_role', 'spatial_ref_sys', 'sample']

In [9]:
for tableName in tablelist:
    print("table: ", tableName)
    
    theKey=getPrimaryKey(tableName)  
    thisTable = getTableData(tableName, theKey)
    
    fileName='SESAR_JSON/'+tableName + '.json'
    with open(fileName, 'w') as outfile:
        json.dump(thisTable, outfile,indent=2, default=str)
    outfile.close()

table:  annual_stats
the primary key:  [('year',)]
SELECT column_name,ordinal_position FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'annual_stats' ORDER BY ordinal_position
annual_stats  number of records:  20
table:  archive_lkup
the primary key:  []
SELECT column_name,ordinal_position FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'archive_lkup' ORDER BY ordinal_position
archive_lkup  number of records:  514
table:  archive_mapping
the primary key:  [('archive_mapping_id',)]
SELECT column_name,ordinal_position FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'archive_mapping' ORDER BY ordinal_position
archive_mapping  number of records:  872
table:  classification
the primary key:  [('classification_id',)]
SELECT column_name,ordinal_position FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'classification' ORDER BY ordinal_position
classification  number of records:  4271
table:  download_history
the primary key:  [('download_history_id',)]
SELECT column_name,ordinal_position FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'download_history' ORDER BY ordinal_position
download_history  number of records:  105
table:  cruise_field_prgrm_lkup
the primary key:  []
SELECT column_name,ordinal_position FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'cruise_field_prgrm_lkup' ORDER BY ordinal_position
cruise_field_prgrm_lkup  number of records:  4798
table:  collection_method_lkup
the primary key:  []
SELECT column_name,ordinal_position FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'collection_method_lkup' ORDER BY ordinal_position
collection_method_lkup  number of records:  538
table:  collector_lkup
the primary key:  []
SELECT column_name,ordinal_position FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'collector_lkup' ORDER BY ordinal_position
collector_lkup  number of records:  2898
table:  gfz_registered_namespace
the primary key:  []
SELECT column_name,ordinal_position FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'gfz_registered_namespace' ORDER BY ordinal_position
gfz_registered_namespace  number of records:  304
table:  country_id_map
the primary key:  []
SELECT column_name,ordinal_position FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'country_id_map' ORDER BY ordinal_position
country_id_map  number of records:  472
table:  gfz_igsns_need_fix
the primary key:  []
SELECT column_name,ordinal_position FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'gfz_igsns_need_fix' ORDER BY ordinal_position
gfz_igsns_need_fix  number of records:  15134
table:  groups
the primary key:  [('id',)]
SELECT column_name,ordinal_position FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'groups' ORDER BY ordinal_position
groups  number of records:  350
table:  ecl_orcid_temp
the primary key:  []
SELECT column_name,ordinal_position FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'ecl_orcid_temp' ORDER BY ordinal_position
ecl_orcid_temp  number of records:  240
table:  country
the primary key:  [('country_id',)]
SELECT column_name,ordinal_position FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'country' ORDER BY ordinal_position
country  number of records:  256
table:  batch_history
the primary key:  [('batch_history_id',)]
SELECT column_name,ordinal_position FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'batch_history' ORDER BY ordinal_position
batch_history  number of records:  344
table:  launch_type
the primary key:  [('launch_type_id',)]
SELECT column_name,ordinal_position FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'launch_type' ORDER BY ordinal_position
launch_type  number of records:  5
table:  peng_org
the primary key:  []
SELECT column_name,ordinal_position FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'peng_org' ORDER BY ordinal_position
peng_org  number of records:  862
table:  sesar_user
the primary key:  [('sesar_user_id',)]
SELECT column_name,ordinal_position FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'sesar_user' ORDER BY ordinal_position
sesar_user  number of records:  1642
table:  platform_name_lkup
the primary key:  []
SELECT column_name,ordinal_position FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'platform_name_lkup' ORDER BY ordinal_position
platform_name_lkup  number of records:  420
table:  nav_type
the primary key:  [('nav_type_id',)]
SELECT column_name,ordinal_position FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'nav_type' ORDER BY ordinal_position
nav_type  number of records:  23
table:  platform_type_lkup
the primary key:  []
SELECT column_name,ordinal_position FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'platform_type_lkup' ORDER BY ordinal_position
platform_type_lkup  number of records:  58
table:  primary_location_name_lkup
the primary key:  []
SELECT column_name,ordinal_position FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'primary_location_name_lkup' ORDER BY ordinal_position
primary_location_name_lkup  number of records:  3864
table:  primary_location_type_lkup
the primary key:  []
SELECT column_name,ordinal_position FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'primary_location_type_lkup' ORDER BY ordinal_position
primary_location_type_lkup  number of records:  1240
table:  registrar_lkup
the primary key:  []
SELECT column_name,ordinal_position FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'registrar_lkup' ORDER BY ordinal_position
registrar_lkup  number of records:  368
table:  sample_publication_url
the primary key:  [('sample_publication_url_id',)]
SELECT column_name,ordinal_position FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'sample_publication_url' ORDER BY ordinal_position
sample_publication_url  number of records:  1373882
table:  sample_delete_request
the primary key:  [('id',)]
SELECT column_name,ordinal_position FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'sample_delete_request' ORDER BY ordinal_position
sample_delete_request  number of records:  756
table:  sample_external_identifier
the primary key:  [('sample_external_identifier_id',)]
SELECT column_name,ordinal_position FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'sample_external_identifier' ORDER BY ordinal_position
sample_external_identifier  number of records:  0
table:  sample_type
the primary key:  [('sample_type_id',)]
SELECT column_name,ordinal_position FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'sample_type' ORDER BY ordinal_position
sample_type  number of records:  42
table:  sample_registration_stats
the primary key:  [('id',)]
SELECT column_name,ordinal_position FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'sample_registration_stats' ORDER BY ordinal_position
sample_registration_stats  number of records:  232
table:  sample_upload_history
the primary key:  [('sample_upload_history_id',)]
SELECT column_name,ordinal_position FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'sample_upload_history' ORDER BY ordinal_position
sample_upload_history  number of records:  2548622
table:  sesar_role
the primary key:  [('sesar_role_id',)]
SELECT column_name,ordinal_position FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'sesar_role' ORDER BY ordinal_position
sesar_role  number of records:  5
table:  sesar_user_code
the primary key:  [('id',)]
SELECT column_name,ordinal_position FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'sesar_user_code' ORDER BY ordinal_position
sesar_user_code  number of records:  1461
table:  sample_additional_name
the primary key:  [('sample_additional_name_id',)]
SELECT column_name,ordinal_position FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'sample_additional_name' ORDER BY ordinal_position
sample_additional_name  number of records:  376727
table:  sample_doc
the primary key:  [('sample_doc_id',)]
SELECT column_name,ordinal_position FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'sample_doc' ORDER BY ordinal_position
sample_doc  number of records:  12553
table:  temp_backfill_publish_date
the primary key:  []
SELECT column_name,ordinal_position FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'temp_backfill_publish_date' ORDER BY ordinal_position
temp_backfill_publish_date  number of records:  2356
table:  temp_pp
the primary key:  [('id',)]
SELECT column_name,ordinal_position FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'temp_pp' ORDER BY ordinal_position
temp_pp  number of records:  608
table:  v_sql_statement
the primary key:  []
SELECT column_name,ordinal_position FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'v_sql_statement' ORDER BY ordinal_position
v_sql_statement  number of records:  2
table:  group_sample
the primary key:  [('id',)]
SELECT column_name,ordinal_position FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'group_sample' ORDER BY ordinal_position
group_sample  number of records:  36151
table:  sesar_user_code_role
the primary key:  [('sesar_user_code_role_id',)]
SELECT column_name,ordinal_position FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'sesar_user_code_role' ORDER BY ordinal_position
sesar_user_code_role  number of records:  174
table:  spatial_ref_sys
the primary key:  [('srid',)]
SELECT column_name,ordinal_position FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'spatial_ref_sys' ORDER BY ordinal_position
spatial_ref_sys  number of records:  8500
table:  sample
the primary key:  [('sample_id',)]
SELECT column_name,ordinal_position FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'sample' ORDER BY ordinal_position
sample  number of records:  5083007

In [10]:
    # CLOSE THE CONNECTION
conn.close()